body {
	background-color: #202020;
	/* background-image: url("assets/backgrounds/Escheresque (light).png"); */
	/* background-image: url("assets/backgrounds/Escheresque (dark).png"); */
	background-image: url("assets/backgrounds/dodgeball (light).png");
	/* background-image: url("assets/backgrounds/dodgeball (dark).png"); */
	/* background-image: url("assets/backgrounds/honeycomb (light).png"); */
	/* background-image: url("assets/backgrounds/honeycomb (dark).png"); */
	color: #FFFFFF;
	font-family: "Arial", sans-serif;
	font-size: 18px;
}
p, h1, h2, h3, h4, h5, h6 {
	max-width: 800px;
}
a.subtleLink {
	text-decoration: none;
	color: #FFFFFF;
}
a.subtleLink:hover {
	text-decoration: underline;
}
button {
	user-select: none;
}
