body {
	background-color: #202020;
	/* background-image: url("assets/backgrounds/Escheresque (light).png"); */
	background-image: url("assets/backgrounds/dodgeball (light).png");
	/* background-image: url("assets/backgrounds/dodgeball (dark).png"); */
	color: #FFFFFF;
	font-family: "Arial", sans-serif;
	font-size: 16px;
}
