#icebox {
	width: 100%;
	height: 800px;
	
	display: flex;
}

#popup {
	display: none;
	user-select: none;
}

#popupBackground {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	z-index: 7;
	
	background-color: rgb(0, 0, 0, 0.4);
}

#popupContent {
	position: fixed;
	width: 80%;
	height: 60%;
	left: 0px;
	top: 0px;
	margin: 10%;
	z-index: 7;
	display: flex;
	flex-flow: column;
	
	border: 4px solid #808080;
	background-color: #101010;
}

#popupHeader {
	font-size: 24px;
	margin: 8px;
	margin-bottom: 0px;
	padding: 0px;
}

#popupHeaderText {
	font-weight: bold;
}

#popupHeaderBtns {
	user-select: none;
	float: right;
}

.popupHeaderBtn {
	margin: 8px;
	margin-right: 0px;
}

#popupList {
	margin: 12px;
	background-color: #202020;
	flex-grow: 1;
	overflow: auto;
}

.popupListElem {
	font-size: 20px;
	margin: 0px;
}

.popupListElem.selected {
	background-color: #404040;
}

#files {
	background: #101010;
	user-select: none;
	overflow: auto;
	
	width: 200px;
}

.filesProjectHeader {
	margin: 8px;
	margin-bottom: 0px;
	display: inline-block;
	font-size: 24px;
	font-weight: bold;
	color: #FFFFFF;
}

.filesHeader {
	margin: 8px;
	margin-top: 16px;
	margin-bottom: 0px;
	display: inline-block;
	color: #C0C0C0;
}

.filesAdd {
	margin: 8px;
	margin-top: 16px;
	margin-bottom: 0px;
	display: inline-block;
	float: right;
	color: #C0C0C0;
}

.filesFile {
	margin: 0px;
	margin-left: 24px;
	color: #808080;
	cursor: pointer;
	white-space: nowrap;
	overflow: hidden;
}

.filesFileEditing {
	color: #000000;
	background-color: #FFFFFF;
}

#editor {
	flex: 1 1 auto;
	box-sizing: border-box;
}

#resizer {
	width: 8px;
	height: 100%;
	
	cursor: ew-resize;
	background-color: #202020;
	
	box-sizing: border-box;
}

#frame {
	border: 4px inset;
	background: #FFFFFF;
	
	flex: 1 1 auto;
	box-sizing: border-box;
}